
<img src="{{.Folder.CoverURL}}" alt="Folder Icon" class="folder-icon">
    <h2>{{.Folder.Name}}</h2>

    <div class="folder-actions">
        <button id="add-item-btn" class="addBtn" onclick="location.href='#modal';" >Add New Item</button>
        <button id="delete-folder-btn" class="danger">Delete Folder</button>
    </div>

<div class="items-list">
    <table>
        <thead>
        <tr>
            <th>Item Name</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{with .Folder}}
        {{range .Items}}
        <tr>
            <td>{{.Name}}</td>
            <td><a href="{{.URL}}" target="_blank">{{.URL}}</a></td>
            <td>
                <button class="delete-item-btn" id="delBtn" hx-delete="/api/folder/{{$.Folder.ID}}/item/{{.ID}}">Delete</button>
            </td>
        </tr>
        {{end}}
        {{end}}
        </tbody>
    </table>
</div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <a href="#" class="close" id="closeAddModal">&times;</a>
            <form class="form">
                <label for="itemName">Item Name:</label>
                <input type="text" id="itemName" name="itemName" placeholder="Enter name" required>

                <label for="itemURL">Item URL:</label>
                <input type="url" id="itemUrl" name="itemUrl" placeholder="http://example.com/cover.jpg">

                <button type="submit" class="submitBtn" hx-post="/api/folder/{{.Folder.ID}}/add">Add Item</button>
            </form>
        </div>
    </div>
<div id="delModal" class="modal">
    <div class="del-modal-contents">
        <a href="#" class="close" id="closeDelModal">&times;</a>
        <form class="form">
            <label for="itemName">Are you sure you want to delete this folder?</label>
            <button type="submit" class="delBtn" hx-delete="/api/folder/{{.Folder.ID}}">Delete Folder</button>
    </div>
</div>
    <script>
        var addModal = document.getElementById('modal');
        var addBtn = document.querySelector('.addBtn');
        var closeAddModal = document.getElementById('closeAddModal');
        var delModal = document.getElementById('delModal');
        var deleteBtn = document.querySelector('.danger');
        var closeDelModal = document.getElementById('closeDelModal');

        delModal.style.display = "none";
        addModal.style.display = "none";
        addBtn.onclick = function() {
            addModal.style.display = "flex";
        }

        closeAddModal.onclick = function(event) {
            event.preventDefault();
            addModal.style.display = "none";
        }


        deleteBtn.onclick = function() {
            delModal.style.display = "flex";
        }

        closeDelModal.onclick = function(event) {
            event.preventDefault();
            delModal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == addModal) {
                addModal.style.display = "none";
            } else if (event.target == delModal) {
                delModal.style.display = "none";
            }
        }
    </script>
